.events__card__main {
  width: 100%;
  max-width: 330px;
  height: 430px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.events__card__main > h2 {
  color: #fff;
}
.events__card__main:hover > .event__card__footer {
  transform: translateY(0%);
}
.event__card__footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 1);
  align-items: flex-start;
  transform: translateY(100%);
  transition: all 0.3s ease-in;
}
.register__button {
  background: #fff;
  border: none;
  padding: 15px 25px;
  font-weight: bold;
  cursor: pointer;
}
.event__card__footer > h2 {
  margin: 10px 0px;
}
.event__card__footer > p {
  margin: 10px 0px;
  font-size: 12px;
}
.event__card__footer > a {
  margin: 15px 0px;
}
.date__event {
  font-size: 15px !important;
  font-weight: bold;
}
.event__modify__section > svg {
  margin-right: 10px;
  cursor: pointer;
}

/* EVENT__EDIT__POPUP */
.edit__event__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.event__edit__form {
  padding: 20px;
  background: #fff;
  max-width: 600px;
  width: 100%;
  height: 100%;
  max-height: 600px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.event__edit__form > p {
  font-size: 12px;
}
.event__edit__form > textarea {
  height: auto;
  min-height: 10em;
}
.close__button {
  position: absolute;
  top: 20px;
  right: 15px;
}
