.home__main {
  background-color: #000;
  background-image: url("../../Assets/Final.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

/* HERO HOMEPAGE */
.home__main__hero {
  height: 80vh;
  position: relative;
}
.hero__main__block {
  text-align: center;
  color: #fff;
}
.hero__main__block > h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.hero__main__block > p {
  font-size: 2rem;
  font-weight: normal;
}
.down__arrow {
  position: absolute;
  bottom: 0;
  width: 20px;
  animation: upanddown 2s infinite;
}
@keyframes upanddown {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
