.team__main {
  background: #151a1f;
  min-height: 100vh;
}
.team__header {
  width: 95%;
  padding: 2.5%;
  color: #fff;
}
.team__header > p {
  font-size: 15px;
}
.team__section {
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  align-items: center;
  justify-content: center;
}
.team__member__card {
  width: 200px;
  height: 300px;
  color: #fff;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.team__member__card > h2 {
  margin: 5px 0px;
  text-align: center;
}
.team__member__card > h4 {
  margin: 5px 0px;
  text-align: center;
}
.member__image {
  -webkit-clip-path: polygon(
    25% 5%,
    75% 5%,
    100% 50%,
    75% 95%,
    25% 95%,
    0% 50%
  );
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  min-width: 200px !important;
  min-height: 200px !important;
  object-fit: cover;
}
.social__section svg {
  margin: 10px;
}
@media screen and (max-width: 1180px) {
  .team__section {
    grid-template-columns: repeat(4, 0fr);
  }
}
@media screen and (max-width: 945px) {
  .team__section {
    grid-template-columns: repeat(3, 0fr);
  }
}
@media screen and (max-width: 700px) {
  .team__section {
    grid-template-columns: repeat(2, 0fr);
  }
}
@media screen and (max-width: 460px) {
  .team__section {
    grid-template-columns: repeat(1, 0fr);
  }
}
