.main__abt__div {
  width: 95%;
  padding: 2.5%;
}
.abt__section {
  align-items: flex-start;
  width: 95%;
  padding: 2.5%;
}
.about__top__right {
  width: 50%;
  align-self: flex-end;
  text-align: right;
}
.about__div__middle {
  width: 100%;
}
.about__div__middle > h1 {
  width: 100%;
  text-align: right;
}
.left__div__middle,
.right__div__middle {
  width: 50%;
}
.left__div__middle img {
  width: 100%;
}
.right__div__middle p {
  margin-top: 20px;
}
.about__main {
  background: #151a1f;
  min-height: 100vh;
  color: #fff;
}
@media screen and (max-width: 925px) {
  .abt__section {
    flex-direction: column;
  }
  .left__abt__div,
  .right__abt__div {
    width: 75%;
  }
  .about__div__middle {
    flex-direction: column;
  }
  .left__div__middle,
  .right__div__middle {
    width: 90%;
    padding: 5%;
  }
  .about__top__right {
    width: 90%;
    padding: 5%;
  }
}
@media screen and (max-width: 425px) {
  .main__abt__div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .left__abt__div,
  .right__abt__div {
    width: 95%;
    padding: 2.5%;
  }
}
