.nav__main {
  width: 96%;
  padding: 2%;
}
.nav__link {
  margin: 0px 20px;
  color: #fff;
}
.nav__link__m {
  color: #fff;
  margin: 20px;
}
.navbar__mobile__sidebar,
.menu__toggle__mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav__links {
    width: 95%;
    padding: 2.5%;
    justify-content: space-between;
  }
  .menu__toggle__mobile {
    display: flex;
  }
  .nav__link {
    display: none;
  }
  .navbar__mobile__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: all 0.3s ease-in;
    z-index: 10;
  }
  .close__button {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: rotate(45deg);
  }
  .translated {
    transform: translateX(0%);
    transition: all 0.3s ease-in;
  }
}
